# Assignment No. 1

Task 1: Problem 1
Install Jupyter notebook and run the first program and share the screenshot of the output.

In [2]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
course_name = input("Enter your course name:")
print("Hello Team iNeuron.I am {} {}.I would like to take this opportunity to thank you for this {} course.".format(first_name,last_name,course_name))

Enter your first name:Gaurav
Enter your last name:Tikhe
Enter your course name:Python
Hello Team iNeuron.I am Gaurav Tikhe.I would like to take this opportunity to thank you for this Python course.

Task 1: Problem 2<br>
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [14]:
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Task 1: Problem 3<br>
Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [16]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
print(last_name,first_name)

Enter your first name:Gaurav
Enter your last name:Tikhe
Tikhe Gaurav

Task 1: Problem 4
Write a Python program to find the volume of a sphere with diameter 12 cm.<br>
Formula: V=${\frac{4}{3}} * π * r^3$

In [19]:
import math
r = 12/100
volume = (4/3) * math.pi * (r**3)
print("Volume of sphere of given radius",r,"m is:",volume,"m^3")

Volume of sphere of given radius 0.12 m is: 0.0072382294738708814 m^3

Task 2: Problem 1<br>
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [35]:
input_numbers = str(input("Enter multiple comma-separated numbers:"))
print("Entered comma-separated numbers are:",input_numbers)
num_list = input_numbers.split(",")
created_list = []
for i in num_list:
    created_list.append(int(i))
print("The created list from entered input is:",created_list)

Enter multiple comma-separated numbers:1,2,3,4,5,6,7,8,9
Entered comma-separated numbers are: 1,2,3,4,5,6,7,8,9
The created list from entered input is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Task 2: Problem 2<br>
Create the below pattern using nested for loop in Python.

In [5]:
for i in range(1,6):
    print("*"*i)
for j in range(4,0,-1):
    print("*"*j)

*
**
***
****
*****
****
***
**
*

Task 2: Problem 3<br>
Write a Python program to reverse a word after accepting the input from the user.

In [52]:
entered_word = input("Enter a word which is to be reversed:")
for i in range(len(entered_word)-1,-1,-1):
    print(entered_word[i],end=" ")

Enter a word which is to be reversed:dhananjay
y a j n a n a h d

Task 2: Problem 4
Write a Python Program to print the given string in the format specified in the ​ sample output.<br>
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [4]:
print("WE, THE PEOPLE OF INDIA,\n\t having solemnly resolved to constitute India into a SOVEREIGN,!\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t"+"  "+"and to secure to all")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN,!
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all